html, body {
    margin: 10;
    padding: 10;
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
    height: 500px;
}

h1, p {
    font-weight: 400;
}
#overlay {
    display: none;
    width: 50%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    font-size: 50px;
    color: turquoise;
  }

#start {
    background-color: fuchsia;
    padding: .5em;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

#start:hover,
#start:focus {
    background-color:lightpink;
    text-decoration: none;
    border: none;
    outline: none;
}

#start:active {
    background-color:lightpink;
    padding: .75em;
    text-decoration: none;
    border: none;
}

h2 {
    background-color: turquoise;
    opacity: 65%;
    width: 190px;
    padding: 5px;
    padding-bottom: 0;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 400;
    font-size: 1.75em;
}

#score {
    margin-left: .9em;
    height: 1em;
    padding: 0 1em 0 1em;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 600;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}

.caterpillar {
    background-color: green;
    border-radius: 30%;
}

.apple::before {
    content: "\01F34E";
    font-size: 1.25em;
}

